%h1
  Visits controller, edit action
%p
  Edit this file in
  %tt
    app/views/visits/edit.html.erb
= error_messages_for @visit

= form_for(@visit, :action => url(:visit, @visit)) do
  %p
    = submit "Update"

= link_to 'Show', url(:visit, @visit)
|
= link_to 'Back', url(:visits)