%h1
  My sensors
#sensorlist
  %ul
    - for sensor in @sensors
      %li
        = slurl(sensor)
        = link_to 'Show', url(:sensor, sensor)
        = link_to 'Edit', url(:edit_sensor,  sensor)
        = link_to 'Delete', url(:delete_sensor, sensor), :class => 'delete', :rel => resource(sensor)
.notice

= link_to 'New', url(:new_sensor)
